<% provide(:title, "#{@post.title}" ) %>

    <%= render partial: 'posts/shared/navigation' %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1><%= @post.title %></h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">Ícaro Falcão</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= @post.created_at %></p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <%= @post.body %>

                <hr>

            </div>

            <%= render partial: 'posts/shared/sidebar' %>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->