<!DOCTYPE html>
<html>
  <head>
    <title>Ícaro Falcão | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'post', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'post', 'data-turbolinks-track': 'reload' %>
	
	<!-- Temporary navbar container fix -->
    <style>
	    .navbar-toggler {
	        z-index: 1;
	    }
	    
	    @media (max-width: 576px) {
	        nav > .container {
	            width: 100%;
	        }
	    }

	    body {
		    padding-top: 54px;
		}

		@media (min-width: 992px) {
		    body {
		        padding-top: 56px;
		    }
		}
    </style>
  </head>

  <body>
  	<%= render partial: 'clean_blogs/navigation' %>
    <%= yield %>
    <%= render partial: 'clean_blogs/footer' %>
  </body>

</html>